/* no sense variables */
$white: #ffffff;

$gray-lighter: #F8F8F8;
$gray: #E4E4E4;

$green      : #428A60;

$black      : #212121;

/* variables with sense */
/* *********************************************************************** */
$input__label--color : $black;
$input__input--color : $black;
$input__label-text_colored_green--color : $green;
$input__input--border: $gray;
$input__input--BGColor: $gray-lighter;
