include __text/button__text.pug
mixin button(modifier)
  if modifier["text"] == undefined
    - modifier["text"] = "empty__text";
  button.button(type="button")&attributes(attributes)
    +button__text(modifier)
