mixin form-container__img(modifier)
  picture.form-container__img&attributes(attributes)
    source(type='image/webp' srcset=require('../../img/img-desktop-croped.png') media="(min-width: 600px)")
    source(type='image/webp' srcset=require('../../img/img-mobile.png') media="(max-width: 599px)")
    img(src=require('../../img/img-desktop-croped.png') alt="img-desktop-croped")
    