.input__input {
  width: 100%;
  font-weight: 600;
  font-size: 14px;
  padding: 16px 16px 16px 20px;
  background: $input__input--BGColor;
  border: 1px solid $input__input--border;
  box-sizing: border-box;
  border-radius: 5px;
  &::placeholder {
    color: $input__input--color;
    opacity: 0.2;
  }
}

.input_with_languages{
  .input__input {
    width: 184px;
    @media (max-width: $md - 1px){
      width: 174px;
    }
  }
}
