mixin input__input(modifier)
  if modifier["placeholder"] == undefined
    - modifier["placeholder"] = "empty__placeholder";
  input.input__input(placeholder=modifier.placeholder)&attributes(attributes)
