include ../../blocks/favicon/favicon.pug
include ../../blocks/input/input.pug
include ../../blocks/form-container/form-container.pug
doctype html
html(lang="ru")
  head
    meta(charset = "utf-8")
    meta(name="viewport", content="initial-scale=1.0, width=device-width")
    title UIKit
    //-В папке build будет лежать файл фавикона, строка которая находится ниже позволит подцепить этот файл
    +favicon()
  body
    main
      +form-container({
        mixins: [
          {
            name: "input",
            regularLabelText : "Ваше ",
            coloredLabelText : "имя",
            placeholder: "Алексей",
          },
          {
            name: 'input',
            regularLabelText : "Ваш ",
            coloredLabelText : "телефон",
            placeholder: "+7 (123) 456 78-90",
            languages: ['RU','EN'],
            modifiers: 'input_with_languages'
          },
          {
            name: 'button',
            text: "Заказать"
          }
        ]
      })