include __img-container/form-container__img-container.pug
include __form/form-container__form.pug
include __title/form-container__title.pug
include __text-container/form-container__text-container.pug
include __img/form-container__img.pug
include ../input/input.pug
include ../button/button.pug
mixin form-container(modifier)
  .form-container&attributes(attributes)
    +form-container__img-container(modifier)
    +form-container__text-container(modifier)