@import '../../vendor/nice-select/jquery-nice-select-1.1.0/css/nice-select.css';
.input__select-languages {
  width: 116px;
  margin-left: auto;
  height: 51px;
  @media (max-width: $md - 1px){
    width: 96px;
  }

  &:after{
    right: 20px;
    top: 48%;
  }
  .current{
    display: block;
    padding-top: 6px;
  }
}
